.dashboard{
    flex:1;
    min-width:0;
}

.sales-card{
    background:#fff;
    border:1px solid #d9d9d9;
    border-radius:12px;
    min-height:760px;
    overflow:hidden;
}

.sales-header{
    padding:18px 24px;
    border-bottom:1px solid #d9d9d9;
}

.sales-header h2{
    font-size:15px;
    font-weight:600;
    color:#222;
    margin:0;
}

.sales-body{
    min-height:680px;
}

.empty-box{
    height:680px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.empty-box h1{
    font-size:54px;
    font-weight:700;
    color:#222;
    margin-bottom:45px;
}

.primary-btn{
    width:180px;
    height:48px;

    border:none;
    border-radius:10px;

    background:#243864;
    color:#fff;

    font-size:14px;
    font-weight:600;

    cursor:pointer;
}

.primary-btn:hover{
    opacity:0.9;
}